{% extends "base.html" %}
{% block content %}

<div class="row">           
    <div class="holder-top-title center-text">
        Derek Onay
    </div>
    <div class="holder-top-subtitle center-text">
        Designer, Developer, Soccer Coach
    </div>

    <div class="holder-top-info center-text">
        Don't worry! I am working on a 2014 redesign. On this website you'll find: <br/><br/> my work, my thoughts, my soccer philosophy.
    </div>
</div>        
<!-- ADD IN MY ABOUT ON INDEX.HTML
<ul class="stuff-list">
  <li>STUFF I DO</li>
  <li>STUFF I DO</li>
  <li>STUFF I DO</li>
  <li>STUFF I DO</li>
</ul>
-->
{% endblock %}